.background
{
    display: flex;
    flex-direction: row;
    height: 400px;
    border: 2px solid #D6001C;
    border-radius: 5px;
    background-image: url(snow_winter_trees.jpg);
    background-size:cover;
    background-position: bottom;
    align-items: flex-start;
    justify-content: space-between;
}
.logos{
    display: flex;
    border: 2px solid #D6001C;
    border-radius: 5px;
}